<section class="sign-in-page-wrapper">
    <div class="sign-in-page">
        <div class="sign-in-title-wrapper">
            <p>EXAPMLE SITE</p>
        </div>
        <div class="sign-in-criteria-wrapper">
            <form>
                <input id="signin-user-account" type="text" placeholder="ユーザアカウント">
                <input id="signin-user-password" type="password" placeholder="パスワード">
            </form>
            <a href="ProductListingPage.html" class="button">サインイン</a>
        </div>
    </div>
</section>